@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

a {
	text-decoration: none;
}
.container {
	min-height: 93.7vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: rgb(0, 0, 0);
	font-size: 1.2rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.section-title span {
	color: green;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid green;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: rgb(70, 220, 20);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: green;
}

/* Hero Section */
#hero {
	background-image: url(../Images/pexels-solarimo-gmbh-4230062.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0);
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(71, 182, 43);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}



/* solutions Section */
#solutions .solutions {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#solutions .solution-top {
    max-width: 1000px;
    margin: 0 auto;
}
#solutions .solution-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#solutions .solution-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#solutions .solution-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, rgba(41, 50, 60, 0.5) 0%, rgba(72, 85, 99, 0.5) 100%);
    opacity: 0.9;
    z-index: -1;
}
#solutions .solution-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#solutions .solution-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#solutions .solution-item p {
    color: white;
    text-align: left;
}
#source-text {
	font-size: 0.8rem;
	color: gray;
	text-align: center;
	margin-top: -100px;
}


/* examples section */
#examples .examples {
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#examples .examples-header h1 {
    margin-bottom: 50px;
}
#examples .all-examples {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#examples .example-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#examples .example-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
    color: rgb(0, 0, 0);
    overflow: hidden; 
    
}

#examples .example-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.mini-section-title {
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
	text-align: center;
	margin-top: -75px;
	margin-bottom: 10px;
	max-width: 90vw;
}




/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 11500px;
	margin: 0 auto;
	padding: 100px 20px;
	background-color: rgb(246, 246, 246);
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
    color:black;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid rgb(103, 190, 49);
    overflow: hidden; 
  }
  
  #about .col-left .about-img img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
  }
  


/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: white;
	}
}

@keyframes text_reveal_name {
	100% {
		color: rgb(68, 255, 0);
		font-weight: 500;
	}
}




/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}


	/* solutions Section */
	#solutions .solution-bottom .solution-item {
		flex-basis: 45%;
		margin: 2.5%;
	}


	/* example */
	#examples .example-item {
		flex-direction: row;
	}
	#examples .example-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#examples .example-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#examples .all-examples .example-info {
		height: 100%;
	}
	#examples .all-examples .example-img {
		height: 100%;
	}


	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid green;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}

}


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	

	#solutions .solution-bottom .solution-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}


/* arrow */
.loading-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: loading-appear 0.5s ease-in-out 3.7s forwards;
}

.loading-scroll {
    width: 60px;
    height: 60px;
    position: relative;
    animation: loading-down 1.5s infinite;
    -webkit-animation: loading-down 1.5s infinite;
}

.loading-scroll::before {
    content: '';
    position: absolute;
   bottom: 60px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg);
}

@keyframes loading-down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes loading-down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@keyframes loading-appear {
    to {
        opacity: 1;
    }
}
