@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

.custom-navbar {
  background-color: #333 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  padding: 10px 20px !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
}

.navbar-brand {
  color: #ffffff !important;
  transition: color 0.3s !important;
  font-size: 1.9rem !important;
  padding: 0 !important;
  margin-left: 130px !important;
}


.navbar-nav {
  margin-left: auto !important;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  position: relative; 
  transition: color 0.3s, border-bottom-color 0.3s; 
  padding: 10px 15px !important;
  font-size: 1.1rem !important;
  margin-right: 50px !important;
}

.navbar-nav .nav-link::before { 
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s;
}

.navbar-nav .nav-link:hover::before { 
  background-color: #2be332;
}

.navbar-nav .nav-link:hover {
  color: #2be332 !important;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-toggler-icon {
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
  border-radius: 4px !important;
  width: 30px !important;
  height: 30px !important;
  position: relative !important;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '' !important;
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 20px !important;
  height: 2px !important;
  background-color: #ffffff !important;
}

.navbar-toggler-icon::before {
  top: 8px !important;
}

.navbar-toggler-icon::after {
  bottom: 8px !important;
}

.navbar-toggler-icon span {
  display: block !important;
  width: 20px !important;
  height: 2px !important;
  background-color: #ffffff !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.navbar-toggler-icon:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

.navbar-toggler-icon:hover::before,
.navbar-toggler-icon:hover::after {
  background-color: #333 !important;
}

.green-text {
  color: #2be332 !important; 
}

